<div class="hero-unit">
  <a href="http://www.140verses.com"><img src="/lib/images/logo.png" alt="140 verses" align="left"/></a>
  <ul class="nav nav-pills pull-right">
  	<li><a href="/">Home</a></li>
	<li><a href="/discover">Discover</a></li>
	<li><a href="/create">Create & Share</a></li>
    <li class="active"><a href="/about">About</a></li>
    <li><a href="/contact">Love us?</a></li>
    </br></br></br></br>
    <blockquote>140verses takes random sentences from the internet, and puts it together to make poems.</blockquote>
  </ul>
</div>
<div class="container">
<p>In some way, we are trying to find art in chaos and randomness.</br></br>
The inspiration for 140verses comes from the <a href="http://en.wikipedia.org/wiki/Infinite_monkey_theorem">Infinite Monkey theorem</a>. It states that a monkey hitting keys at random on a typewriter keyboard for an infinite amount of time will almost surely type a given text, such as the complete works of William Shakespeare.</br><!-- </br>
There is no deep philosophy or ideology behind this. This is not a web business with a business plan to attract VC investment, addressing any market lacuna, customer problem, or huge opportunity. In fact, there is no plan.</br></br> -->
140verses was inspired by a monkey for god's sake. And delusions that it would sit in front of a typewriter hitting keys.</br></br>
But if you're interested in writing about 140verses and studying the implications for poets, R&B stars and rappers, we have one soundbite - </br></p>
<strong>"Art as a process, can be automated, mechanized and done by a goddamn machine".</strong></br></br>
<p>140verses was started by <a href="http://nikhilvelpanur.com">Nikhil Velpanur</a> <a href="http://twitter.com/nikhilv">@nikhilv</a>. He's quite a monkey himself, and sits hours in front of his computer hitting random keys.</br>
He launched the first version in July 2010.</br></br>
3 years later, another monkey Gaurav Chandrashekar <a href="http://twitter.com/cggaurav">@cggaurav</a>, came along and randomly started hitting keys in Ruby to bring the project back alive.</br>
We plan to keep this alive, well loved and improving it.</br></br>
But the problem with improving it, is that we negate our own premise of searching for art in randomness and chaos. Also, this appeals to our lazy sides.</br></br>
Lets see - if you have any ideas, tweet us - we will try not to send you a randomly generated answer.</br></br>
Proudly made in India.</br></p>
</div>