<div class="hero-unit">
  <a href="http://www.140verses.com"><img src="/lib/images/logo.png" alt="140 verses" align="left"/></a>
  <ul class="nav nav-pills pull-right">
  	<li><a href="/">Home</a></li>
	<li><a href="/discover">Discover</a></li>
	<li><a href="/create">Create & Share</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Love us?</a></li>
    </br></br></br></br>
    <blockquote>140verses takes random sentences from the internet, and puts it together to make poems.</blockquote>
  </ul>
</div>
<div class="container">
<blockquote>
	<p>If you were to come here everytime</p>
	<p>And if we get for everytime, a dime</p>
	<p>Would this make you laugh as much</p>
	<p>As we pocket a million and more such</p>
	<small><a href="http://twitter.com/140verses">140poet</a></small>
</blockquote>
</div>